<link rel="import" href="main_header.html">
<link rel="import" href="left_tree.html">

  <script type="application/dart" src="main_view.dart"></script>

  <polymer-element name="main-view" >
  <template>
    <link rel="stylesheet" href="/styles/style.css">
    <div class="main_header">
      <main-header ></main-header>
    </div>
    <div class="main">
      <left-tree class="lefttree"></left-tree>
      <div id="maincontent" class="main_content">
        xxxx
      </div>    
    </div>
  </template>
</polymer-element>

